<a href="https://colab.research.google.com/github/ZaldyMejia/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Variables

In [ ]:
x = float(1)

a,b,c = "Sally", "John", "Ana"
a,b,c = 0, -1, 2

print ("This is a sample")
print (a)
print (b)
print (c)

This is a sample
0
-1
2

Casting

In [ ]:
print(x)

1.0

Type() Function

In [ ]:
y = "Johnny"

print (type(y))
print (type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [3]:
h = 'Zaldy'
b = "Zaldy"
v = 1
V = 2

print(h)
print(b)
print(v)
print(V)
print(type(h))

Zaldy
Zaldy
1
2
<class 'str'>

Multiple Variables

In [ ]:
x,y,z = "One", "Two", "Three"

print(x)
print(y)
print(z)

One
Two
Three

One value to multiple Variables

In [ ]:
x = y = z = "Stella"
print (x,y,z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [ ]:
x = "Enjoying, "
y = "Python is"

print (x+y)

Enjoying, Python is

Arithmetic Operations

In [ ]:
f = 1
g = 2
i = 6

print(f+g)
print(f-g)
print(f*g)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**2)

3
-1
2
3
1.5
1
1

Boolean Operators

In [ ]:
k = 2
#i = 6
k+=2
print(k)

print(i>>1)
print(i<<1)

4
3
12

Assignment Operators

In [ ]:
s = 2

s*=5

print(s)

10

Relational Operators

In [ ]:
print(v>s)

print (v==s)

False
False

Logical Operators

In [ ]:
print(v<s and s==s)
print(v<s and s==v)

True
False

Identity Operators

In [ ]:
print(v is s)
print(v is v)

False
True