<a href="https://colab.research.google.com/github/ZaldyMejia/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [ ]:
print(10>9)
print(10 == 9)
print(10<9)
print(10!=9)

True
False
False
True

Bool() function

In [ ]:
print(bool("Zaldy"))
print(bool("4"))
print(bool())
print(bool(0))
print(bool("1"))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [ ]:
def myFunction():
 return False 

print(myFunction())

False

In [ ]:
def myFunction():
  return True

if myFunction():
 print("Yes")

else:
 print("No")

Yes

Application 1

In [ ]:
print(10>9)

a = 6
b = 7
print(a==b)
print(a!=a)

True
False
False

In [ ]:
print(10>9)

a = 6
b = 7
if a<b:
 print("a is less than b")
else:
  print("a is greater than b")

True
a is less than b

Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10%3)
print(10//3)

13
7
30
3.3333333333333335
1
3

Bitwise Operators

In [ ]:
a = 60
b = 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Assignment Operators: Application 2

In [ ]:
a = 5
b = 6
c = 7
d = 8
e = 9

a+=3
b-=3
c*=3
d/=3
e%=3

print(a)
print(b)
print(c)
print(d)
print(e)

8
3
21
2.6666666666666665
0

Logical Operators

In [ ]:
k = True
l = False

print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [ ]:
print(k is l)
print(k is not l)

False
True

#Control Structure

If Statement

In [ ]:
v = 1
z = 2

if v<z:
 print("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is less than z

Else Statement

In [ ]:
v = 1
z = 1

if v<z:
 print("v is less than z")
elif v>z:
  print("v is greater than z")
else:
  print("v is equal to z")

v is equal to z

In [ ]:
number = int(input())

if number>0:
  print("positive")
elif number < 0:
  print ("negative")
else:
  print ("number is equal to zero")

3
positive

Application 3 - Develop a python program that will accept if a person is entitled to vote or not

In [ ]:
age = int(input())

if age >= 18:
  print("You are qualified to vote")
elif age<18:
  print("You are not qualified to vote")

4
You are not qualified to vote

Nested If...Else

In [ ]:
u = 41
if u> 10:
  print("u is above 10")
  if u > 20:
   print ("u is above 20")
   if u > 30:
    print ("u is above 30")
    if u > 40:
     print ("u is above 40")
     if u > 50:
      print ("u is above 50")

u is above 10
u is above 20
u is above 30
u is above 40

#Loop Structure

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ["rainy","sunny"]

for x in week:
  for y in season:
   print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [ ]:
for x in week:
  print (x)

  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [ ]:
i = 1

while i < 6:
  print (i)
  i += 1

1
2
3
4
5

Application 4 - Create a python program that displays number from 1 to 4:

In [ ]:
j = 1 

while j<5:
  print(j)
  j+=1

1
2
3
4

Application 4 - Create a python program that displays number 4 using while loop statement and break statement

In [ ]:
j = 1 

while j<5:
  if j >=4:
   print(j)
  if j == 4:
    break
  j+=1

4